<!--@subject Order confirmation email  @-->
<!--@vars {
} @-->
{{template config_path="design/email/header_template"}}
<table style="width: 100%">
    <tr class="email-intro">
        <td colspan="3">
            <p style="text-align: center"><h2 style="font-weight: 700; margin-top: 0; text-align: center">{{trans "My Gift Registry"}}</h2></p>
            <p>{{trans "Dear"}} {{var recipient_name}}</p>
            <p>{{trans "You have given"}} {{var giver_email}} a gift from our store</p><br/>
        </td>
    </tr>
    <tr class="email-summary">
        <td colspan="3">
            <h1 style="font-size: 16px; font-weight: bold;">{{trans "Your Order"}} #{{var order_id}}</h1>
            <p>{{trans "Placed on:"}} {{var created_at}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <b>{{trans "Total Product"}}</b>
        </td>
        <td>
            <b>{{trans "Order Total"}}</b>
        </td>
        <td>
            <b>{{trans "Order Status"}}</b>
        </td>
    </tr>
    <tr>
        <td>{{var totalProduct}}</td>
        <td>{{var grand_total}}</td>
        <td>{{var status}}</td>
    </tr>
    <tr>
        <td colspan="3"><p style="margin-top: 35px; text-align: center">{{trans "Thank you for participating in gift giving on our main page"}}</p></td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
